.hero{
    padding:30px;
    width: 200px;
    color: #020202;
}
.under-line{
    border-bottom: 4px deepskyblue solid;
}
a{
    text-decoration: none;
    border: 2px  solid;
    padding: 5px 10px;
    background-color:deepskyblue;
    color: white;
}
body{
    background-image: url("img/faded-office.png");
    background-size: cover;
}